/* eslint-disable-next-line */
@import "@shelacek/plotery/dist/css/plotery.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rounded-btn: 4px !important;
  --rounded-box: 4px !important;
  --rounded-badge: 4px !important;
  --animation-btn: 0.25s !important;
  --animation-input: 0.2s !important;
  --btn-focus-scale: 0.95 !important;
  --border-btn: 1px !important;
  --tab-border: 1px !important;
  --tab-radius: 4px !important;
  --btn-text-case: normal !important;
}

.alert {
  padding: 8px !important;
}

.plotery {
  --plotery-s1-color: #66cc8a;
  --plotery-s2-color: #377cfb;
  --plotery-s3-color: #f68067;
}

.plotery .labels text {
  @apply fill-base-300 text-xs transition-colors ease-in-out duration-200;
}

.plotery:hover .labels text {
  @apply fill-primary-content;
}
