@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rounded-btn: 4px !important;
  --rounded-box: 0.5rem !important;
  --rounded-badge: 0.9rem !important;
  --animation-btn: 0.25s !important;
  --animation-input: 0.2s !important;
  --btn-focus-scale: 0.95 !important;
  --border-btn: 1px !important;
  --tab-border: 1px !important;
  --tab-radius: 4px !important;
  --btn-text-case: normal !important;
}

.alert {
  padding: 8px !important;
}
